<footer>
<hr>
{{- range $index, $key := .Site.Params.Social -}}
<a class="soc" href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>|
{{- end -}} ⚡️
	{{ dateFormat "2006" now }} {{ with .Site.Copyright }} {{ . }} | {{ end }} <a href="{{ .Site.Params.Repo }}">Source</a> | <a href="https://github.com/athul/archie">Archie Theme</a> | Built with <a href="https://gohugo.io">Hugo</a>
</footer>

{{- if (isset .Site.Params "social") -}}
<script>
      feather.replace()
</script>
{{- end -}}
